<div class="form-group">
    <label for="borough" class="texts">Delegación</label>
    <select class="form-control" id="borough" name="borough" required>
        <option value="" class="texts"></option>
        <option value="Álvaro Obregón" class="texts">Álvaro Obregón</option>
        <option value="Azcapotzalco" class="texts">Azcapotzalco</option>
        <option value="Benito Juárez" class="texts">Benito Juárez</option>
        <option value="Coyoacán" class="texts">Coyoacán</option>
        <option value="Cuajimalpa" class="texts">Cuajimalpa</option>
        <option value="Cuauhtémoc" class="texts">Cuauhtémoc</option>
        <option value="Gustavo A. Madero" class="texts">Gustavo A. Madero</option>
        <option value="Iztacalco" class="texts">Iztacalco</option>
        <option value="Iztapalapa" class="texts">Iztapalapa</option>
        <option value="Magdalena Contreras" class="texts">Magdalena Contreras</option>
        <option value="Miguel Hidalgo" class="texts">Miguel Hidalgo</option>
        <option value="Milpa Alta" class="texts">Milpa Alta</option>
        <option value="Tláhuac" class="texts">Tláhuac</option>
        <option value="Tlalpan" class="texts">Tlalpan</option>
        <option value="Venustiano Carranza" class="texts">Venustiano Carranza</option>
        <option value="Xochimilco" class="texts">Xochimilco</option>
    </select>
</div>