<div class="form-group">
    <label for="specialty" class="text-dark texts font-weight-bold">Especialidad</label>
    <select class="form-control" name="specialty" id="specialty" required>
        <option class="texts" value="{{user.specialty}}" selected> {{user.specialty}} </option>
        <option value="Alergología" class="texts">Alergología</option>
        <option value="Anestesiología" class="texts">Anestesiología</option>
        <option value="Angiología" class="texts">Angiología</option>
        <option value="Cardiología" class="texts">Cardiología</option>
        <option value="Dermatología" class="texts">Dermatología</option>
        <option value="Endocrinología" class="texts">Endocrinología</option>
        <option value="Gastroenterología" class="texts">Gastroenterología</option>
        <option value="Geriatría" class="texts">Geriatría</option>
        <option value="Ginecología y obstetricia" class="texts">Ginecología y obstetricia</option>
        <option value="Hematología" class="texts">Hematología</option>
        <option value="Infectología" class="texts">Infectología</option>
        <option value="Medicina del deporte" class="texts">Medicina del deporte</option>
        <option value="Medicina familiar" class="texts">Medicina familiar</option>
        <option value="Medicina física y rehabilitación" class="texts">Medicina física y rehabilitación</option>
        <option value="Medicina forense" class="texts">Medicina forense</option>
        <option value="Medicina intensiva" class="texts">Medicina intensiva</option>
        <option value="Medicina interna" class="texts">Medicina interna</option>
        <option value="Nefrología" class="texts">Nefrología</option>
        <option value="Neumología" class="texts">Neumología</option>
        <option value="Neurología" class="texts">Neurología</option>
        <option value="Nutriología" class="texts">Nutriología</option>
        <option value="Oftalmología" class="texts">Oftalmología</option>
        <option value="Oncología" class="texts">Oncología</option>
        <option value="Otorrinolaringología" class="texts">Otorrinolaringología</option>
        <option value="Pediatría" class="texts">Pediatría</option>
        <option value="Psiquiatría" class="texts">Psiquiatría</option>
        <option value="Reumatología" class="texts">Reumatología</option>
        <option value="Toxicología" class="texts">Toxicología</option>
        <option value="Traumatología" class="texts">Traumatología</option>
        <option value="Urología" class="texts">Urología</option>
    </select>
</div>