<div class="row">
    <div class="col-12 index">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <h2 class="main-title mt-5 text-center titles">Busca un médico cerca de ti</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-6 mt-5">
                <form class="form-main my-2 my-lg-0 p-3 d-flex" action="" method="GET">
                    <input class="form-control mr-sm-2 input-form-main" type="search" placeholder="ej: Otorrinolaringólogo" aria-label="Search">
                    <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 intro-app">
        <div class="row justify-content-center align-items-center">
            <div class="col-11">
                <div class="row justify-content-between align-items-center my-5">
                    <div class="col-5">
                        <img class="img-fluid rounded" src="/images/findDoctors.jpg" alt="">
                    </div>
                    <div class="col-6">
                        <h2 class="intro-title titles mb-5">Red de Doctores en CDMX</h2>
                        <p class="benefits texts">Encuentra fácilmente médicos a tu alrededor.</p>
                        <p class="benefits texts">Médicos de distintas especialidades al alcance de tu mano</p>
                        <p class="benefits texts">Revisa la disponibilidad del médico y solicita una cita</p>
                    </div>
                </div>
                <div class="row justify-content-around align-items-center my-5">
                    <div class="col-6">
                        <h2 class="intro-title titles mb-5">Perfil personal detallado</h2>
                        <p class="benefits texts">Consulta tus próximas citas</p>
                        <p class="benefits texts">Consulta tus citas previas</p>
                        <p class="benefits texts">Almacena tu expediente de manera ágil práctica</p>
                        <ul>
                            <li class="li-benefits texts my-2">Recetas Médicas</li>
                            <li class="li-benefits texts my-2">Estudios Clínicos</li>
                            <li class="li-benefits texts my-2">Radiografías</li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <img src="/images/dummie.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>