<div class="row justify-content-center align-items-center my-5">
	<div class="col-12 my-5">
		<div class="row justify-content-center align-items-center">
			<div class="col-11">
				<h2 class="s-title titles">Búsqueda Avanzada</h2>
			</div>
			<div class="col-11">
				<form action="/search/advanced" method="GET">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="delegacion" class="texts">Delegación</label>
							<select class="form-control" id="delegacion" name="delegacion" placeholder="Delegación">
								<option value="Álvaro_Obregón" class="texts" selected>Álvaro Obregón</option>
								<option value="Azcapotzalco" class="texts">Azcapotzalco</option>
								<option value="Benito_Juárez" class="texts">Benito Juárez</option>
								<option value="Coyoacán" class="texts">Coyoacán</option>
								<option value="Cuajimalpa" class="texts">Cuajimalpa</option>
								<option value="Cuauhtémoc" class="texts">Cuauhtémoc</option>
								<option value="Gustavo_A._Madero" class="texts">Gustavo A. Madero</option>
								<option value="Iztacalco" class="texts">Iztacalco</option>
								<option value="Iztapalapa" class="texts">Iztapalapa</option>
								<option value="Magdalena_Contreras" class="texts">Magdalena Contreras</option>
								<option value="Miguel_Hidalgo" class="texts">Miguel Hidalgo</option>
								<option value="Milpa_Alta" class="texts">Milpa Alta</option>
								<option value="Tláhuac" class="texts">Tláhuac</option>
								<option value="Tlalpan" class="texts">Tlalpan</option>
								<option value="Venustiano_Carranza" class="texts">Venustiano Carranza</option>
								<option value="Xochimilco" class="texts">Xochimilco</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							{{> doctorSpecialty}}
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</div>
		</div>

		<div class="row justify-content-around align-items-center my-5">
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
		</div>
	</div>
</div>