<div class="row justify-content-center align-items-center my-5">
	<div class="col-12 my-5">
		<div class="row justify-content-center align-items-center">
			<div class="col-11">
				<h2 class="s-title titles">Búsqueda Avanzada</h2>
			</div>
			<div class="col-11">
				<form action="/search/advanced" method="GET">
					<div class="form-row">
						<div class="form-group col-md-6">
							{{> boroughPartial}}
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							{{> doctorSpecialty}}
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</div>
		</div>

		<div class="row justify-content-around align-items-center my-5">
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
			<div class="col-5 my-3 s-doctor p-3">
				<a href="" class="d-flex flex-column card-link">
					<h4 class="titles">Especialidad : Neurólogo</h4>
					<p class="texts ml-2">Calle : </p>
					<p class="texts ml-2">Colonia : </p>
					<p class="texts ml-2">Delegación : </p>
					<p class="texts ml-2">Médico : </p>
					<p class="texts ml-2">Calificación : 4.5</p>
				</a>
			</div>
		</div>
	</div>
</div>