nav {
  height: 7.5vh;
}

.navbar-nav {
  width: 55%;
}

footer {
  height: 10vh;
}

.index {
  background-image: url("./images/bg-index.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
}
